*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  box-shadow: 2px 2px 5px #93d1de;
  opacity: .8;
  background-color: white; }
  .navbar .nav-item {
    font-size: 1.4rem; }
    .navbar .nav-item:not(:last-child) {
      padding-right: 1.4rem; }

.showcase {
  position: relative;
  background-image: url(../img/mountains.jpg);
  background-size: cover;
  width: 100%;
  overflow: hidden; }
  .showcase .primary-overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(50, 146, 166, 0.8); }
  .showcase-title {
    height: 100%;
    margin-top: 15%; }
    .showcase-title h1 {
      font-size: 4vmax; }
    .showcase-title p {
      font-size: 2vmax; }

input {
  text-transform: capitalize; }

.change {
  margin-top: 2.125rem; }

.mb-res {
  margin-bottom: 8px; }

.about h2 {
  font-size: 3vmax;
  padding: 10px 0; }

.about .p {
  font-size: 3vmin;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 767px) {
    .about .p {
      width: 100%; } }

.about span {
  cursor: pointer;
  font-size: 2.5vmin; }

@media only screen and (min-width: 992px) {
  .authors img {
    margin-top: -63px;
    margin-bottom: 20px; } }

textarea {
  resize: none; }
